.resume-display{
    text-align: center;
    background-color: linen;
    padding: 15px;
}
.resume-heading{
    padding-bottom: 15px;
}
.resume-card-display{
    text-align: left;
    background-color: white;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
}
