.study-stamp{
    grid-area: study-stamp;
    line-height: 150%;
}
.study-degree{
    color: darkslateblue;
}
.study-timePeriod{
    color: red;
}
.study-description-hidden{
    grid-area: study-description;
    display: none;
}
.study-description-show{
    grid-area: study-description;
    padding-top: 15px;
}
.study-skills{
    grid-area: study-skills;
}
.study-post{
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'study-stamp study-skills'
        'study-description study-description';
}