.job-stamp{
    grid-area: job-stamp;
    line-height: 150%;
}
.job-company{
    color: darkslateblue;
}
.job-time-period{
    color: red;
}
.job-description-hidden{
    grid-area: job-description;
    display: none;
}
.job-description-show{
    grid-area: job-description;
    padding-top: 15px;
}
.job-skills{
    grid-area: job-skills;
}
.job-post{
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'job-stamp job-skills'
        'job-description job-description';
}