.card-display{
    text-align: left;
    background-color: white;
    border-radius: 30px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
}
.card-stamp{
    grid-area: stamp;
    line-height: 150%;
}
.sub-title-1{
    color: darkslateblue;
}
.sub-title-2{
    color: red;
}
.job-description-hidden{
    grid-area: job-description;
    display: none;
}
.job-description-show{
    grid-area: job-description;
    padding-top: 15px;
}
.job-skills{
    grid-area: job-skills;
}
.job-post{
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'stamp skills'
        'description description';
}