.card-stamp{
    grid-area: stamp;
}
.card-title-2{
    color: darkslateblue;
}
.card-title-3{
    color: red;
}
.card-skills{
    grid-area: skills;
}
.card-display{
    z-index: 1;
    position: relative;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'stamp skills'
        'description description';
}

.card-drawer{
    position: relative;
    padding: 20px;
    text-align: left;
    border-radius: 0 0 30px 30px;
    box-shadow: 5px 5px 5px grey;
    max-width: 75%;
    margin: auto;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.card-drawer-prompt-hidden{
    text-align: center;
    display: none;
}
.card-drawer-prompt-show{
    text-align: center;
}
.description-hidden{
    grid-area: description;
    display: none;
}
.description-show{
    grid-area: description;
}