.card-stamp{
    grid-area: stamp;
    line-height: 150%;
}
.card-title-2{
    color: darkslateblue;
}
.card-title-3{
    color: red;
}
.description-hidden{
    grid-area: description;
    display: none;
}
.description-show{
    grid-area: description;
    padding-top: 15px;
}
.card-skills{
    grid-area: skills;
}
.card-display{
    text-align: left;
    background-color: white;
    border-radius: 30px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        'stamp skills'
        'description description';
}