.home-display{
    background-color: linen;
    padding: 40px;
}
.message{
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: normal;
    font-size: 4vmin;
    overflow: hidden;
}