.resume-display{
    background-color: linen;
    padding: 40px;
}
.job-title{
    grid-area: job-title;
}
.job-company{
    grid-area: company;
    color: darkslateblue;
}
.job-time-period{
    grid-area: job-time;
}
.job-description{
    grid-area: job-description;
}
.job-skills{
    grid-area: job-skills;
}
.job-post{
    max-width: 75%;
    margin: auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'job-title job-description'
        'company job-description'
        'job-time job-description'
        ' . job-skills';
}

.study-school{
    grid-area: school;
}
.study-degree{
    grid-area: degree;
    color: darkslateblue;
}
.study-timePeriod{
    grid-area: study-time;
}
.study-description{
    grid-area: study-description;
}
.study-skills{
    grid-area: study-skills;
}
.study-post{
    max-width: 75%;
    margin: auto;
    display: grid;
     grid-column-gap: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'school study-description'
        'degree study-description'
        'study-time study-skills';
}