.banner{
    padding-top: 5px;
    position: relative;
}
.bottom-text{
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-shadow: 0 0 3px white;
}
.navbar{
    padding: 2px;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    justify-items: center;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}
button{
    border: none;
    background-color: white;
    font-size: 1.5rem;
}
button:hover{
    color: red;
}
img{
    border-radius: 50%;
    max-width: 100%;
}