.banner{
    padding: 10px 0 10px 0;
    position: relative;
    text-align: center;
}
.headShot{
    border-radius: 50%;
}
.bottom-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 3px white;
}
.navbar{
    padding: 2px;  
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}