:root{
    --midnight-green: #114B5F;
    --emerald: #1a936f;
    --light-green: #88d498;
    --gray: #c6dabf;
    --eggshell: #f3e9d2;
}
*{
    text-align: center;
    margin: 0;
    padding: 0;
}
::before,
::after{
    box-sizing: inherit;
}
a{
    text-decoration-line: none;
}