:root{
    --midnight-green: #114B5F;
    --emerald: #1a936f;
    --light-green: #88d498;
    --gray: #c6dabf;
    --eggshell: #f3e9d2;
}
*{
    margin: 0;
    padding: 0;
}
::before,
::after{
    box-sizing: inherit;
}
body{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
a{
    color: red;
}
button{
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
}
button:hover{
    color: red;
}
img{
    border-radius: 50%;
    max-width: 100%;
}
ul{
    margin-left: 15px;
}