*{
    margin: 0;
    padding: 0;
}
::before,
::after{
    box-sizing: inherit;
}
body{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
a{
    color: red;
}
a:hover{
    font-weight: bold;
}
button{
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
}
button:hover{
    color: red;
    font-weight: bold;
}
ul{
    margin-left: 20px;
}
/*sizings*/
@media (min-width: 1025px){
    .headShot{max-width: 100%}
    .bottom-text{bottom: 1%; font-size: 2.5rem}
    .navbar{width: 700px; grid-template-columns: 1fr 1fr 1fr}
    .home-display{font-size: 1rem}
    .message{width:800px}
    .portfolio-display{font-size: 1.2rem}
    .resume-display{font-size: 1.2rem}
    .card-display{width: 800px}
    .card-drawer{width: 75vmin}
}
@media (min-width: 768px) and (max-width: 1024px){
    .headShot{width: 30vmin}
    .bottom-text{bottom: 1%; font-size: 4vmin}
    .navbar{width: 80vmin; grid-template-columns: 1fr 1fr 1fr}
    .home-display{font-size: 1.9vmin}
    .portfolio-display{font-size: 2vmin}
    .resume-display{font-size: 2vmin}
    .card-display{width: 80vmin}
    .card-drawer{width: 70vmin}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .headShot{width: 30vmin}
    .bottom-text{bottom: 1%; font-size: 4vmin}
    .navbar{width: 90vmin; grid-template-columns: 1fr 1fr 1fr}
    .home-display{font-size: 1.9vmin}
    .portfolio-display{font-size: 2vmin}
    .resume-display{font-size: 2vmin}
    .card-display{width: 80vmin}
    .card-drawer{width: 70vmin}
}
@media (min-width: 481px) and (max-width: 767px){
    .headShot{width: 30vmin}
    .bottom-text{bottom: 1%; font-size: 4vmin}
    .navbar{width: 80vmin; grid-template-columns: auto auto auto}
    .home-display{font-size: 2.3vmin}
    .portfolio-display{font-size: 3vmin}
    .resume-display{font-size: 3vmin}
    .card-display{width: 80vmin}
    .card-drawer{width: 70vmin}
}
@media (min-width: 320px) and (max-width: 480px){
    .headShot{width: 50vmin}
    .bottom-text{bottom: 1%; font-size: 6vmin}
    .navbar{width: 80vmin; grid-template-columns: auto auto auto}
    .home-display{font-size: 3.4vmin}
    .portfolio-display{font-size: 3vmin}
    .resume-display{font-size: 3vmin}
    .card-display{width: 80vmin}
    .card-drawer{width: 70vmin}
}
