*{
    margin: 0;
    padding: 0;
}
::before,
::after{
    box-sizing: inherit;
}
body{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
a{
    color: red;
}
a:hover{
    font-weight: bold;
}
button{
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
}
button:hover{
    color: red;
    font-weight: bold;
}
ul{
    margin-left: 20px;
}
/*sizings*/
@media (min-width: 1025px){
    .headShot{max-width: 100%}
    .bottom-text{
        bottom: 13%;
        font-size: 2.5rem}
    .navbar{width: 700px;
        grid-template-columns: 1fr 1fr 1fr}
    .home-display{padding: 40px;
        font-size: 1rem}
    .message{width:800px}
    .project-display{padding: 20px;
        font-size: 1rem}
    .project-post{width: 900px}
    .resume-card-display{padding: 20px;
        font-size: 1rem}
    .job-post{width: 900px}
    .study-post{width: 900px}
}
@media (min-width: 768px) and (max-width: 1024px){
    .headShot{width: 30vmin}
    .bottom-text{
        bottom: 11%;
        font-size: 4vmin}
    .navbar{width: 80vmin;
        grid-template-columns: 1fr 1fr 1fr}
    .home-display{padding: 40px;
        font-size: 1.9vmin}
    .project-display{padding: 20px;
        font-size: 2vmin}
    .resume-card-display{padding: 20px;
        font-size: 2vmin}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .headShot{width: 30vmin}
    .bottom-text{
        bottom: 11%;
        font-size: 4vmin}
    .navbar{width: 90vmin;
        grid-template-columns: 1fr 1fr 1fr}
    .home-display{padding: 40px;
        font-size: 1.9vmin}
    .project-display{padding: 40px;
        font-size: 2vmin}
    .resume-card-display{padding: 40px;
        font-size: 2vmin}
}
@media (min-width: 481px) and (max-width: 767px){
    .headShot{width: 40vmin}
    .bottom-text{
        bottom: 11%;
        font-size: 5vmin}
    .navbar{width: 80vmin;
        grid-template-columns: auto auto auto}
    .home-display{padding: 30px;
        font-size: 2.3vmin}
    .project-display{padding: 20px;
        font-size: 2.3vmin}
    .resume-card-display{padding: 20px;
        font-size: 2.3vmin}
}
@media (min-width: 320px) and (max-width: 480px){
    .headShot{width: 50vmin}
    .bottom-text{
        bottom: 1%;
        font-size: 6vmin}
    .navbar{width: 80vmin;
        grid-template-columns: auto auto auto}
    .home-display{padding: 20px;
        font-size: 3.4vmin}
    .portfolio-display{font-size: 3vmin}
    .resume-display{font-size: 3vmin}
}
