.portfolio-display{
    background-color: linen;
    padding: 15px;
}
.project-display{
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    max-width: 80%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 30px;
}
.project-title{
    grid-area: title;
}
.project-language{
    grid-area: language;
    color: darkslateblue;
}
.project-description-hidden{
    grid-area: description;
    display: none;
}
.project-description-show{
    grid-area: description;
}
.project-repository{
    grid-area: repository;
}
.project-url{
    grid-area: url;
}
.project-post{
    margin: auto;
    overflow: hidden;
    display: grid;
    justify-items: left;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: 
        'title description'
        'language description'
        'repository description'
        'url description';
}