.resume-display{
    text-align: center;
    background-color: linen;
    padding: 15px;
}
.resume-display h2{
    padding-bottom: 15px;
}
.resume-card-display{
    text-align: left;
    background-color: white;
    border-radius: 30px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px grey;
}
.job-stamp{
    grid-area: job-stamp;
}
.job-company{
    color: darkslateblue;
}
.job-time-period{
    color: red;
}
.job-description-hidden{
    grid-area: job-description;
    display: none;
}
.job-description-show{
    grid-area: job-description;
    padding-top: 15px;
}
.job-skills{
    grid-area: job-skills;
}
.job-post{
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'job-stamp job-skills'
        'job-description job-description';
}

.study-school{
    grid-area: school;
}
.study-degree{
    grid-area: degree;
    color: darkslateblue;
}
.study-timePeriod{
    grid-area: study-time;
    color: red;
}
.study-description-hidden{
    grid-area: study-description;
    display: none;
}
.study-description-show{
    grid-area: study-description;
    padding-top: 15px;
}
.study-skills{
    grid-area: study-skills;
}
.study-post{
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'school study-skills'
        'degree study-skills'
        'study-time study-skills'
        'study-description study-description';
}