.resume-display{
    text-align: center;
    background-color: linen;
}
.resume-card-display{
    text-align: left;
    background-color: white;
    border-radius: 30px;
    max-width: 80%;
    margin: auto;
    padding: 10px;
}
.job-title{
    grid-area: job-title;
}
.job-company{
    grid-area: company;
    color: darkslateblue;
}
.job-time-period{
    grid-area: job-time;
    color: red;
}
.job-description-hidden{
    grid-area: job-description;
    display: none;
    transition: 2s;
}
.job-description-show{
    grid-area: job-description;
    transition: 2s;
}
.job-skills{
    grid-area: job-skills;
}
.job-post{
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'job-title job-skills'
        'company job-skills'
        'job-time job-skills'
        'job-description job-description';
}

.study-school{
    grid-area: school;
}
.study-degree{
    grid-area: degree;
    color: darkslateblue;
}
.study-timePeriod{
    grid-area: study-time;
    color: red;
}
.study-description{
    grid-area: study-description;
}
.study-skills{
    grid-area: study-skills;
}
.study-post{
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
        'school study-description'
        'degree study-description'
        'study-time study-skills';
}