.project-title{
    grid-area: title;
}
.project-language{
    grid-area: language;
}
.project-description{
    grid-area: description;
}
.project-repository{
    grid-area: repository;
}
.project-post{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: 
        'title description'
        'language description'
        ' . description'
        ' . repository';
    grid-gap: 10px;
    border-bottom: 3px black double;
}