.project-display{
    background-color: linen;
    padding: 5vmin;
}
.project-title{
    grid-area: title;
}
.project-language{
    grid-area: language;
    color: darkslateblue;
}
.project-description{
    grid-area: description;
}
.project-repository{
    grid-area: repository;
}
.project-post{
    width: 80vmin;
    font-size: 3vmin;
    margin: auto;
    overflow: hidden;
    display: grid;
    justify-items: left;
    grid-gap: 10px;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        'title description'
        'language description'
        'repository description'
        ' . description';
}